<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>Missing builds for "{{ overview.suite }}"</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="gfx/debian.css"/>
    <link rel="stylesheet" href="gfx/styles.css"/>
  </head>
  <body>
    <div id="header">
      <div id="upperheader">
        <div id="logo">
          <a href="//www.debian.org/"><img src="//www.debian.org/Pics/openlogo-50.png" alt="Debian" width="50" height="61"/></a>
        </div>
        <p class="section"><a href="/">Release Team</a></p>
      </div>
      <div id="navbar">
        <ul>
          <li><a href="//www.debian.org/intro/about">About Debian</a></li>
          <li><a href="//www.debian.org/distrib/">Getting Debian</a></li>
          <li><a href="//www.debian.org/support">Support</a></li>
          <li><a href="//www.debian.org/devel/">Developers'&#160;Corner</a></li>
        </ul>
      </div>
      <p id="breadcrumbs"><a href="/">release.debian.org</a> / <a href="/proposed-updates/">proposed-updates</a> / {{ overview.base_suite }}_missing</p>
    </div>
    <div id="content">
      <h1>Missing builds for "{{ overview.suite }}"</h1>

      <h2>All architectures</h2>
      <ul>
{%- for action, action_list in actions.items() %}
{%- for package, version in action_list %}
{%-   set details = entries[package][version] %}
{%-   if details['missing_builds'] and not details['superseded'] %}
{%-     for architecture in details['missing_builds'] | unique | sort %}
      <li>
        {{ package }}_{{ version }}/{{ architecture }}
      </li>
{%-     endfor %}
{%-   endif %}
{%- endfor %}
{%- endfor %}
      </ul>
    </div>

    <div id="footer">
      <p>
        <strong>Timestamp:</strong>
        {{ updated }}
      </p>
      <p>
        <strong>Generated by:</strong>
        <a href="https://salsa.debian.org/release-team/release-tools/tree/master/queue-viewer" rel="nofollow">queue-viewer</a>
      </p>
    </div>
  </body>
</html>
