<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <base target="_blank" />
    <title>Debian Queue Overview for "{{ overview.suite }}"</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="gfx/debian.css"/>
    <link rel="stylesheet" href="gfx/styles.css"/>
    <!--<script type="text/javascript" src="gfx/effects.js"/>-->
  </head>
  <body>
    <div id="header">
      <div id="upperheader">
        <div id="logo">
          <a href="//www.debian.org/"><img src="//www.debian.org/Pics/openlogo-50.png" alt="Debian" width="50" height="61"/></a>
        </div>
        <p class="section"><a href="/">Release Team</a></p>
      </div>
      <div id="navbar">
        <ul>
          <li><a href="//www.debian.org/intro/about">About Debian</a></li>
          <li><a href="//www.debian.org/distrib/">Getting Debian</a></li>
          <li><a href="//www.debian.org/support">Support</a></li>
          <li><a href="//www.debian.org/devel/">Developers'&#160;Corner</a></li>
        </ul>
      </div>
      <p id="breadcrumbs"><a href="/">release.debian.org</a> / <a href="/proposed-updates/">proposed-updates</a> / {{ overview.base_suite }}</p>
    </div>
    <div id="content">
      <h1>Queue Overview for "{{ overview.suite }}"</h1>
{%- if todos | length > 0 %}
     <h2>TODO items</h2>
     <ul>
{%- for item in todos %}
       <li>{{ item | e | urlize(nofollow=True) }}</li>
{%- endfor %}
     </ul>
{%- endif %}

{%- if removals | length > 0 %}
      <h2>Removals</h2>
      <ul>
{%-   for source, details in removals | nesteddictsort(0) %}
        <li>
          <a href="//bugs.debian.org/{{ details[0] }}">#{{ details[0] }}</a>:
          {{ source }} - {{ details[1] | e}}
        </li>
{%-    endfor %}
      </ul>
{%- endif %}

      <p>
        <a href="{{ overview.base_suite }}_missing.html">
          List of missing builds
        </a>
        <br />
        <a href="missing-security-{{ overview.base_suite }}.html">
          List of missing packages relative to security archive
        </a>
      </p>

{%- for table in ['Resolution Pending', 'Pending Processing', 'Processed'] %}
{%-     if loop.index == 1 %}
{%-       set uploads = actions[''] %}
{%-       set column_count = 6 %}
{%-     elif loop.index == 2 %}
{%-       set uploads = actions['ACCEPT'] + actions['REJECT'] %}
{%-       set column_count = 6 %}
{%-     else %}
{%-       set uploads = actions['ACCEPTED'] + actions['REJECTED'] %}
{%-       set column_count = 5 %}
{%-     endif %}
{%-     set packages = uploads|map(attribute=0)|unique %}
{%-     set upload_count = uploads | length %}
{%-     set package_count = packages | length %}
   <h2>{{ table }} ({{ upload_count }} {% trans count=upload_count %}upload{% pluralize %}uploads{% endtrans %} for
   {{ package_count }} {% trans count=package_count %}package{% pluralize %}packages{% endtrans %})</h2>
{%- if upload_count %}
   <table class="queue">
     <tr>
       <th>Package</th>
       <th>Version</th>
       <th>Version Problems</th>
       <th>Installability Problems</th>
{%- if table != 'Processed' %}
       <th>Architectures</th>
{%- endif %}
       <th>Action</th>
     </tr>
{%- for packages in uploads|groupby(attribute=0) %}
{%- set package = packages.grouper %}
{%- for version in packages.list | map(attribute=1) | debversort(reverse=True) %}
{%-   set details = entries[package][version] %}
{%-   set extra_details = entry_details[package][version] %}
{%-   if package.startswith('lib') %}
{%-     set sourcehash = package[0:4] %}
{%-   else %}
{%-     set sourcehash = package[0:1] %}
{%-   endif %}
{%-   if details['status'] == 'NOTOK' %}
{%-     set class = 'notok' %}
{%-   elif details['status'] == 'UNKNOWN' %}
{%-     set class = 'unknown' %}
{%-   elif details['status'] == 'MOREINFO' %}
{%-     set class = 'moreinfo' %}
{%-   elif details['status'] == 'OK' and (not details['missing_builds'] or details['superseded'] or details['binnmu']) and not details['lockstep_problems'] %}
{%-     set class = 'ok' %}
{%-   elif details['status'] == 'OK' and (details['missing_builds'] and not details['superseded'] and not details['binnmu']) or details['lockstep_problems'] %}
{%-     set class = 'limbo' %}
{%-   else %}
{%-     set class = 'unknown' %}
{%-   endif %}
     <tr class="{{ class }}" id="{{ package }}_{{version}}">
       <td class="source">
         <a href="https://tracker.debian.org/{{ package }}">{{ package }}</a>
       </td>
       <td class="debdiff">
         <a href="{{ overview.codename }}_diffs/{{ package }}_{{ version }}.debdiff">{{ extra_details['display_version'] }}</a>
       </td>
       <td>
{%- if extra_details['version_problems'] %}
         <span class="verproblems-header">Version problems</span>
         <span class="verproblems">
{%- for problem in extra_details['version_problems'] %}
{%- if problem.startswith('testing') %}
           <a class="verproblems" href="https://qa.debian.org/excuses.php?package={{ package }}">
             <span class="verproblem">{{ problem }}</span>
           </a>
{%- else %}
           <span class="verproblem">{{ problem }}</span>
{%- endif %}
{%- endfor %}
         </span>
{%- else %}
 
{%- endif %}
       </td>
       <td>
         <span class="debcheck-header">Installability problems</span>
{%- if not extra_details['debchecks'] and not extra_details['piuparts'] and not extra_details['ci'] %}
 
{%- endif %}
{%- if extra_details['debchecks'] %}
         <span class="debcheck">
{%- for architecture in extra_details['debchecks'] | unique | sort %}
           <a href="{{ overview.codename }}_debcheck/{{ package }}_{{ version }}_{{ architecture }}.debcheck"><span class="architecture">{{ architecture }}</span></a>
{%- endfor %}
         </span>
{%- endif %}
{%- if extra_details['piuparts'] %}
{%- for issue in extra_details['piuparts'] | unique | sort %}
{%- if issue == 'install' %}
{%-   set suitesuffix = '-pu' %}
{%- elif issue == 'upgrade' %}
{%-   set suitesuffix = '2next' %}
{%- else %}
{%-   set suitesuffix = '' %}
{%- endif %}
        <a href="https://piuparts.debian.org/{{ overview.codename }}{{ suitesuffix }}/source/{{ sourcehash }}/{{ package }}.html">{{ issue }}</a>
{%- endfor %}
{%- endif %}
{%- if extra_details['ci'] %}
{%- for cidata in extra_details['ci'] if cidata[0] != 'PASS_HINTED' %}
{%-  if cidata[0] == 'REGRESSION' %}
{%-    set verdict = 'c-i regression' %}
{%-  elif cidata[0] == 'REJECTED_TEMPORARILY' %}
{%-    set verdict = 'c-i running' %}
{%-  elif cidata[0] == 'REJECTED_PERMANENTLY' %}
{%-    set verdict = 'c-i failed' %}
{%-  else %}
{%-    set verdict = cidata[0] %}
{%-  endif %}
      <span class="ci">
        {{ verdict }}:
{%- for issue in cidata[1] | unique | sort %}
         <a href="{{ issue[1] }}"><span class="package">{{ issue[0] }}</span></a>
{%- endfor %}
       </span>
{%- endfor %}
{%- endif %}
       </td>
{%- if table != 'Processed' %}
       <td>
{%- if details['architectures'] and details['action'] != 'ACCEPTED' %}
         <span class="arches-built-header">Built:</span>
         <span class="arches-built">
{%- for architecture in details['architectures'] | sort -%}
            <span class="architecture">{{ architecture }}</span>
{%- endfor %}
         </span>
{%- if details['missing_builds'] %}
         <span class="arches-missing-header">Missing:</span>
         <span class="arches-missing">
{%- for architecture in details['missing_builds'] | sort -%}
           <span class="architecture">{{ architecture }}</span>
{%- endfor %}
         </span>
{%- endif %}
{%- endif %}
       </td>
{%- endif %}
       <td>
{%- if not details['action'] %}
{%-   if details['status'] == 'NOTOK' %}
         <img src="gfx/thumb_down.png" alt="Not ok"/>
{%-   elif details['status'] == 'OK' %}
         <img src="gfx/thumb_up.png" alt="Ok"/>
{%-   elif details['status'] == 'MOREINFO' %}
         <img src="gfx/info.png" alt="More info needed"/>
{%-   else %}
         ?
{%-   endif %}
{%- else %}
         {{ details['action'] }}
{%- endif %}
       </td>
     </tr>
{%- set additional = 0 %}
{%- if details['superseded'] %}
{%- if additional == 0 %}
{%- set additional = 1 %}
     <tr class="additional">
       <td class="additional" colspan="{{ column_count }}">
{%- endif %}
       <p>
         <strong>This upload was superseded by a more current one.</strong>
      </p>
{%- endif %}
{%- if details['reason'] and not details['advisory'] %}
{%- if additional == 0 %}
{%- set additional = 1 %}
     <tr class="additional">
       <td class="additional" colspan="{{ column_count }}">
{%- endif %}
{%- if details['incorrect-distribution'] and not (details['action'] and details['action'] == 'REJECTED') %}
      <p>
        <strong>Distribution mismatch:</strong> {{ details['distribution'] }}
      </p>
{%- endif %}
      <p>
        <strong>Reason:</strong> {{ details['reason'] | e}}
      </p>
{%- endif %}
{%- if version == details['base_version'] %}
{%- if additional == 0 %}
{%- set additional = 1 %}
     <tr class="additional">
       <td class="additional" colspan="{{ column_count }}">
{%- endif %}
      <p>
        <strong>Architectures:</strong>
{%- for architecture in details['architectures'] %}
        {{ architecture }}
{%- endfor %}
      </p>
{%- endif %}
{%- if details['missing_builds'] and details['action'] and not details['superseded'] and not details['binnmu'] %}
{%- if additional == 0 %}
{%- set additional = 1 %}
     <tr class="additional">
       <td class="additional" colspan="{{ column_count }}">
{%- endif %}
      <p>
        <strong>Missing builds:</strong>
        <a class="buildd" href="https://buildd.debian.org/status/package.php?p={{ package }}&suite={{ overview.codename }}&a={{ details['missing_builds'] | sort | join(',') }}">
{%- for architecture in details['missing_builds'] | sort %}
        <span class="architecture">{{ architecture }}</span>
{%- endfor %}
        </a>
      </p>
{%- endif %}
{%- if details['lockstep_problems'] %}
{%- if additional == 0 %}
{%- set additional = 1 %}
     <tr class="additional">
       <td class="additional" colspan="{{ column_count }}">
{%- endif %}
         <p>
           <strong>Missing lock-step packages:</strong>
{%- for problem in details['lockstep_problems'] | sort %}
           <span class="arches-missing">{{ problem }}</span>
{%- endfor %}
         </p>
{%- endif %}
{%- if details['advisory'] %}
{%- if additional == 0 %}
{%- set additional = 1 %}
     <tr class="additional">
       <td class="additional" colspan="{{ column_count }}">
{%- endif %}
{%- if details['incorrect-distribution'] and not (details['action'] and details['action'] == 'REJECTED') %}
      <p>
        <strong>Distribution mismatch:</strong> {{ details['distribution'] }}
      </p>
{%- endif %}
      <p>
        <strong>DSA:</strong>
        <a href="//security-tracker.debian.org/tracker/DSA-{{ details['advisory'] }}">{{ details['advisory'] }}</a>
      </p>
{%- endif %}
{%- if details['pu_bug'] %}
{%- if additional == 0 %}
{%- set additional = 1 %}
     <tr class="additional">
       <td class="additional" colspan="{{ column_count }}">
{%- endif %}
      <p>
        <strong>Request:</strong>
        <a href="//bugs.debian.org/{{ details['pu_bug'] }}">{{ details['pu_bug'] }}</a>
      </p>
{%- endif %}
{%- if details['has_udebs'] %}
{%- if additional == 0 %}
{%- set additional = 1 %}
     <tr class="additional">
       <td class="additional" colspan="{{ column_count }}">
{%- endif %}
      <p>
        <strong>µdebs:</strong>
{%- if details['udeb_only'] %} only{% else %} present{% endif %}
      </p>
{%- endif %}
{%- if details['bugs_closed'] %}
{%- if additional == 0 %}
{%- set additional = 1 %}
     <tr class="additional">
       <td class="additional" colspan="{{ column_count }}">
{%- endif %}
      <p>
        <strong>Closes:</strong>
{%- for bug in details['bugs_closed'] | unique | sort %}
        <a href="//bugs.debian.org/{{ bug }}">{{ bug }}</a>
{%- endfor %}
      </p>
{%- endif %}
{%- if details['cves'] %}
{%- if additional == 0 %}
{%- set additional = 1 %}
     <tr class="additional">
       <td class="additional" colspan="{{ column_count }}">
{%- endif %}
      <p>
        <strong>CVEs referenced:</strong>
{%- for cve in details['cves'] | unique | sort %}
        <a href="//security-tracker.debian.org/{{ cve }}">{{ cve }}</a>
{%- endfor %}
      </p>
{%- endif %}
{%- if extra_details['binary_debdiffs'] %}
{%- if additional == 0 %}
{%- set additional = 1 %}
     <tr class="additional">
       <td class="additional" colspan="{{ column_count }}">
{%- endif %}
        <p>
          <strong>Binary debdiffs:</strong>
          <span class="binary_debdiffs">
{%- for architecture in extra_details['binary_debdiffs'] | unique | sort -%}
          <a href="{{ overview.codename }}_diffs/{{ package }}_{{ version }}_{{ architecture }}.debdiff.html"><span class="architecture">{{ architecture }}</span></a>
{%- endfor %}
          </span>
        </p>
{%- endif %}
{%- if extra_details['lintian'] %}
{%- if additional == 0 %}
{%- set additional = 1 %}
     <tr class="additional">
       <td class="additional" colspan="{{ column_count }}">
{%- endif %}
        <p>
          <strong>Lintian issues:</strong>
          <span class="lintian">
{%- for architecture in extra_details['lintian'] | unique | sort -%}
          <a href="{{ overview.codename }}_lintian/{{ package }}_{{ version }}_{{ architecture }}.lintian.debdiff"><span class="architecture">{{ architecture }}</span></a>
{%- endfor %}
          </span>
        </p>
{%- endif %}
{%- if details['comments'] %}
{%- if additional == 0 %}
{%- set additional = 1 %}
     <tr class="additional">
       <td class="additional" colspan="{{ column_count }}">
{%- endif %}
         <pre>
{%- for comment in details['comments'] %}
{%- if loop.index > 1 %}
           <br />
{%- endif %}
{{ comment }}
{%- endfor %}
         </pre>
{%- endif %}
{%- if additional == 1 %}
      </td>
     </tr>
{%- endif %}
{%- endfor %}
{%- endfor %}
   </table>
{%- endif %}
{%- endfor %}

    </div>
    <div id="footer">
      <p>
        <strong>Total upload count:</strong> {{ actions.values() | map("length") | sum }}
        <br />
        <strong>Total package count:</strong> {{ entries|length }}
        <br />
        <strong>Timestamp:</strong> {{ updated }}
        <br />
        <strong>Updated at least every 30 minutes</strong>
      </p>
      <p>
        <strong>Generated by:</strong>
        <a href="https://salsa.debian.org/release-team/release-tools/tree/master/queue-viewer" rel="nofollow">queue-viewer</a>
      </p>
    </div>
  </body>
</html>
